<!-- /.dropdown -->
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu dropdown-user">
    <li>
      <%= link_to edit_backoffice_subscription_path(current_user)  do %>
        <i class="fa fa-credit-card fa-fw"></i> Assinatura
      <% end %>
    </li>
    <li class="divider"></li>
    <li>
      <%= link_to destroy_user_session_path, method: :delete, data: { confirm: 'Tem certeza que deseja sair?' } do %>
        <i class="fa fa-sign-out fa-fw"></i>
        Logout
      <% end %>
    </li>
  </ul>
  <!-- /.dropdown-user -->
</li>
<!-- /.dropdown -->
